<!DOCTYPE html>
<html>
<head>
    <title>RBUkraine</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<body>
    <nav>
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Authentication" asp-action="Login">@localizer["Login"]</a>
        }
        else
        {
            <div>
                <form method="post" asp-controller="Authentication" asp-action="Logout">
                    <input type="submit" value="@localizer["Logout"]">
                </form>
            </div>
        }
        @{
            var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        }
        <div>
            <form asp-controller="Culture"
                  asp-action="SetCulture"
                  method="post">
                <select name="culture"
                        onchange="this.form.submit();"
                        for="culture"
                        asp-for="@requestCulture.RequestCulture.UICulture.Name" 
                        asp-items="Culture.SelectList">
                </select>
            </form>
        </div>
    </nav>

@RenderBody()

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>