@{
    ViewData["Title"] = "About us";
}

<div class="about-us-block">
    <br><br>
    <div class="admin_animal_block" style=" width: 1000px">
        <div style="height: 10px"></div>
        <a href="#" class="text-Literata" style="margin-left: 20px; font-size: 20px">Про нас</a>
        <hr style="margin-top: 10px">

        <div style="width: 910px; margin-left: auto; margin-right: auto; ">
            <p class="text-Montserrat" style="font-size: 18px;">
                «RBUkraine» – це онлайн-система, яка допомагає людям дізнатися про тварин червоної книги України, забезпечує фінансову підтримку благодійних організацій, які займаються захистом тварин Червоної книги України, а також надає змогу переглядати та придбати товар для себе (прибуток з цих продажів буде направлений у ті ж організації).<br>

                Відвідувачі web-платформи зможуть отримати опис даної системи, детальну інформацію про тварин, яким здійснюється допомога благодійними організаціями, здійснювати анонімну допомогу цим організаціям за допомогою онлайн оплати, а також матимуть можливість перегляду товару на сайті та отримати інформацію щодо благодійних заходів.

                Зареєструвавшись, користувачі зможуть писати коментарі до заходів, новин про тварин та товарів сайту, здійснювати допомогу організаціям підтримки тварин Червоної книги України (у вигляді благодійного внеску або засобом придбання товару), за допомогою онлайн оплати, та придбати товар з сайту. Ці користувачі зможуть дозволити системі додати своє ім’я у список тих, хто здійснив благодійний внесок через сайт RBUkraine (цей список буде відображений на окремій сторінці сайту), а також отримати або придбати запрошення на благодійні заходи.

                Як подяка за небайдужість до тварин, користувачі, які зробили значний благодійний внесок, зможуть отримати невеличкий подарунок.<br><br>
        </div>
    </div>
    <br><br>
</div>
