@model IEnumerable<RBUkraine.PL.ViewModels.CharitableOrganizations.CharitableOrganizationViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<div class="row" style="margin-top: 60px">
    <div>
        <button class="left-button">
            <br><br>Зробити благодійний<br> внесок
        </button>
    </div>

    @foreach (var item in Model)
    {
        <section class="h">
            <div class="container4">

                <p class="protect">
                    @item.Name
                </p>
                <ul class="menu3">
                    @foreach (var animal in item.Animals)
                    {
                        <li>
                            <a href="1.html">
                                <img src="@animal.Image.Url" width="320px" height="200px" alt="1">
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </section>
    }

</div>