@model RBUkraine.PL.ViewModels.CharitableOrganizations.CharitableOrganizationViewModel

@{
    ViewData["Title"] = "GetById";
}

<div class="row" style="margin-top: 60px">
    <div>
        <button class="left-button">
            <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
        </button>
    </div>
    <section class="h">
        <div class="container4" style="margin-bottom: 120px">

            <p class="protect">
                @Model.Name
            </p>
            <ul class="menu-protect">
                @foreach (var animal in Model.Animals)
                {
                    <li>
                        <a href="1.html">
                            <img src="@animal.Image.Url" width="320px" height="200px" alt="1">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>